*{
    padding: 1;
    margin: 1;
}

body {
    background-color: #252525;
    
}

button {
    width: 100vw;
    height: 5vh;
    background-color: rgb(242, 36, 0);
    font-size: 2em;
}

button:hover {
    background-color: rgb(196, 7, 7);
}

button:active {
    color: #fff;
}